{% extends '@KodoDashboardBundle/Resources/views/base.html.twig' %}

{% block body %}
    <h1>Itemmenu creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" value="Create" />
        <a href="{{ path('itemmenu_index') }}" class="btn btn-default">Back to the list</a>
    {{ form_end(form) }}
{% endblock %}
